<% include partials/header %>

</head>
<body>
	<h1>Search For a Anybody</h1>

	<form action="/results" method="get">
	    <input type="text" name="search" placeholder="search term">
	    <input type="submit">
	</form>
</body>
</html>